mat-toolbar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.example-spacer {
  flex: 0.5 1 auto;
}

@media screen and (max-width: 800px) {
  mat-toolbar {
    justify-content: start;
  }
}
