/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #7c7a7a;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c;
}
